* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}

button {
    width: 3rem;
    height: 3rem;
    background-color: whitesmoke;
    border-radius: 50%;
    /* display: flex; */
}

button > svg {
    height: 2rem;
    width: 2rem;
}